$blur-radius: 30px;
$card-transition-duration: 0.2s;
$card-hover-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$carousel-height: 200px;


.bg-primary {
  background: $primary !important;
}

.bubble {
  -webkit-backdrop-filter: blur($blur-radius);
  backdrop-filter: blur($blur-radius);
  border-color: rgba(255, 255, 255, 0.12) !important;
  background: rgba(255, 255, 255, 0.05) !important;
  color: #ffffff;
}

.date {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px 10px;
}

.cover-image {
  position: relative;
  max-height: $carousel-height;
  overflow: hidden;
}

.vault-link {
  color: $primary;
  text-decoration: none;
}

.input-icon{
  position: relative;
  margin-bottom: 1rem;
}

.input-icon input{
  border: none;
  border-bottom: 1px solid #ced4da;
  padding-left:30px;
  width: 100%;
}

.input-icon i{
  position: absolute;
  left:20px;
  top:25px;
  opacity:.5;
}

.categories a.badge {
  color: $primary;
  border-color: $primary;
  font-size: 0.8rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  margin-right: 0.25rem;
  
  &.active {
    background: $primary;
    color: #ffffff;
  }
}

.card {
  transition: all $card-transition-duration;
  height: 100%;
  margin-bottom: 1rem;
  
  &:hover {
    background: #362D27 !important;
    box-shadow: $card-hover-box-shadow !important;

    h2 a {
      transition: all $card-transition-duration;
      color: $primary !important;
    }

    img {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    .has-multiple {
      button {
        display: block;
      }
    }

    .has-multiple-icon {
      opacity: 0.2;
    }
  }

  .has-multiple-icon {
    position: absolute;
    top: $carousel-height - 40px;
    right: 15px;
    color: #ffffff;
  }
}

/* Monochrome filter for images */
.card img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.card:hover img {
  filter: grayscale(0%);
}



// Carousel-specific styles
.has-multiple {
  position: relative;
  min-height: $carousel-height;
  max-height: $carousel-height;
  overflow: hidden;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
  }

  button {
    position: absolute;
    top: $button-position-top;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $button-color;
    display:none;
    
    &:hover {
      color: $button-hover-color;
    }

    &.prev {
      left: $button-position-left;
    }

    &.next {
      right: $button-position-right;
    }
  }
}
